<div class="container-fluid table">
<form #paymentForm="ngForm" (ngSubmit)="purchase(paymentForm)">
  <fieldset ngModelGroup="contact">
    <legend>Contact</legend>

    <label>
      First Name <input type="text" name="firstname" [(ngModel)]="firstname">
    </label>
    <label>
      Last Name <input type="text" name="lastname" ngModel>
    </label>
    <label>
      Email <input type="email" name="email" ngModel>
    </label>
    <label>
      Phone <input type="text" name="phone" ngModel>
    </label>
  </fieldset>

  <fieldset ngModelGroup="address">
    <!-- ... -->
    <legend>Address</legend>

    <label>
      Street Name <input type="text" name="streetname" ngModel>
    </label>
    <label>
      Zip <input type="text" name="zip" ngModel>
    </label>
    <label>
      State <input type="text" name="State" ngModel>
    </label>
    <label>
      Country <input type="text" name="country" ngModel>
    </label>
  </fieldset>

  <fieldset ngModelGroup="paymentCard">
    <!-- ... -->
  </fieldset>

    <button type="submit">Submit</button>
</form>
    <div class="row tmt-row" *ngFor="let ticker of tickers">
      <div class="col-md-4">
        {{ticker.Symbol}}
      </div>
      <div class="col-md-4">
        {{ticker.Name}}
      </div>
      <div class="col-md-4">
        {{ticker.LastTradePriceOnly | currency: 'USD':true:'1.2-2'}}
      </div>
    </div>
</div>