<div class="container-fluid">
  <h1>
    {{title}}
  </h1>
  <div>  
    one way msg: {{oneWayMsg}}
  </div>
  <div>
    two way msg: {{twoWay}}
  </div>
  <div>
    Access cTable variables: {{cTable.color}} 
  </div>
  <div class="container-fluid table">
    <div class="row tmt-row grey-text" *ngIf="tickers.length > 0">
      <div class="col-md-4 uppercase">
        Ticker Symbol
      </div>
      <div class="col-md-4 uppercase">
        Name
      </div>
      <div class="col-md-4 uppercase">
        Price
      </div>
    </div>

    <div class="row tmt-row" *ngFor="let ticker of tickers">
      <div class="col-md-4">
        {{ticker.Symbol}}
      </div>
      <div class="col-md-4">
        {{ticker.Name}}
      </div>
      <div class="col-md-4">
        {{ticker.LastTradePriceOnly | currency: 'USD':true:'1.2-2'}}
      </div>
    </div>

    <div class="row tmt-row">
      <app-c-table #cTable [oneWay]="name" (oneWayMsg)="getMsg($event)" [(twoWay)]="twoWay">
        <!--<div class="row tmt-row">-->
          <div class="col-md-3">
            <button class="col-md-3 main-button" type="button" (click)="sayHello()"> AppComponent click me</button>
          </div>
        <!--</div>-->
      </app-c-table>
    </div>

    
  </div>

</div>